*.pyc
*.apk
*.bak

.DS_Store
xcuserdata
*.xcodeproj
*.xcworkspace
*.pbxproj
*-checkpoint.ipynb
*.ipynb_checkpoints

.idea
.floo
.flooignore
.vscode
.vs
*.h5
*.xml
*.iml

*.tex
*.aux
*.svg
*.xdv
*.dvi
*.log
*.bib
*.blg
*.bbl
*.out

*.zip
*.gz
